# 自定义 404 页面 #
RewriteEngine On

RewriteCond %{REQUEST_METHOD} !POST

RewriteCond %{REQUEST_FILENAME} !-d/
RewriteCond %{REQUEST_FILENAME} !-f

# 转发 URL #
RewriteRule ^/?([0-9a-zA-Z_]+)\/([0-9a-zA-Z_]+)/([0-9a-zA-Z_]+)(\.html+)?$                index.php?app=$1&mod=$2&act=$3&%{QUERY_STRING}     [L]

RewriteRule ^/?afterpay+([\S]*)$                      index.php?app=index&mod=Index&act=afterpay&%{QUERY_STRING} [L]